body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-1 {
   background-color: #1f2937; 
   color: white;
   display: flex;
   flex-flow: wrap column;
}

.header {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.content-section-1 {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: space-around;
}

.r {
    width: 450px;
}